{
  "root": true,
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": ["eslint:recommended", "airbnb", "prettier"],
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-use-before-define": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never"
      }
    ],
    "react/prop-types": ["error", { "ignore": ["navigation"] }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  }
}
